<ng-template #loading>
    <span>Loading...please wait</span>
</ng-template>
<ng-template #errMsg>
    <span>{{errorMessage}}</span>
</ng-template>
<ng-template #norecord>
    <span>No record found</span>
</ng-template>

<div *ngIf="loadingComplete;else loading">
    <div *ngIf="errorMessage==='';else errMsg">
        <div *ngIf="products && products.length>0;else norecord">
            <table class="table table-hover">
                <tr class="thead-style">
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Delete</th>
                </tr>
                <tbody class="table-dark">
                    <tr *ngFor="let p of products">
                        <td>
                            <img class="img-style" [src]="p.imageUrl" alt="NA">
                        </td>
                        <td>
                            {{p.productName}}
                        </td>
                        <td>
                            {{p.price}}
                        </td>
                        <td>
                            {{p.starRating}}
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="card" style="width: 18rem;margin: 10px;padding: 10px;" *ngFor="let p of products"
                style="display: inline-flex;">
                <img [src]="p.imageUrl" class="card-img-top img-style" alt="NA">
                <div class="card-body">
                    <h5 class="card-title">{{p.productName}}</h5>
                    <p class="card-text">
                        {{p.description}}
                    </p>
                    <button type="button" class="btn btn-danger">Delete</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary">View</button>
                </div>
            </div> -->
        </div>
    </div>
</div>




<!-- 

    for(let p of products){

    }
-->